


<div class="container-fluid">
    <div class="row profile">

        <!-- PAGE CONTENT -->
        <div class="col-md-10">
            <div class="profile-content">

            <% @events.each do |event| %>
			  		
			      
						<div class="well">

							<h4><%= link_to event.name, event_path(event) %></h4>
							<p>Posted by: <%= event.user.name %></p>
							<p>Location name: <%= event.location.name %></p>
							<p>Event description: <%= event.description %></p>
							<p><%= link_to "More info", event_path(event) %></p>
							

						</div>
						<div class="line"></div>
					
				<% end %>
              

                

                
            

            </div>
        </div>



    </div>
</div>


<div class="container-fluid">
    <div class="footer">
        <strong> © 2018 by <a href="https://www.nextacademy.com">Next Academy</a></strong>
    </div>
</div>