


<div class="container-fluid">
    <div class="row profile">


    <!-- SIDEBAR -->
        <div class="col-md-2">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img src="https://crunchbase-production-res.cloudinary.com/image/upload/c_thumb,h_256,w_256,f_auto,g_faces,z_0.7,q_auto:eco/v1466591235/kqksgid3mofshmeq0yhs.png" class="img-responsive" alt="">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                      <%=current_user.name%>
                    </div>
                    <div class="profile-usertitle-job">
                     	<%=current_user.role%>
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
                <div class="profile-userbuttons">
                    <button type="button" class="btn btn-success btn-sm">Follow</button>
                    <button type="button" class="btn btn-danger btn-sm">Message</button>
                </div>
                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
              <div class="profile-usermenu">
                    <ul class="nav">
                        <li class="active">
                            <a href="#">
                            <i class="glyphicon glyphicon-home"></i>
                            Home </a>
                        </li>

                        <li class="dropdown active">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="glyphicon glyphicon-th-large"></i>
                             Events</a>
                             <ul class="dropdown-menu" id="dropdown">
                                 <li><a href="/events">Browse all events</a></li>
                                 <li><%= link_to "My events", user_events_path(current_user) %>
                                 </li>
                                 <li><a href="/events/new">Create new event</a></li>
                             </ul>
                        </li>


                        <li class="dropdown active">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="glyphicon glyphicon-th-large"></i>
                             Blogs</a>
                             <ul class="dropdown-menu" id="dropdown">
                                 <li><a href="/my_blog">My Blog</a></li>
                                 <li><a href="/following_blog">Following Blog</a></li>
                                 <li><a href="#">Browse Blog</a></li>
                             </ul>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                            <i class="glyphicon glyphicon-log-out"></i>
                            Logout</a>
                        </li>
                    </ul>

                </div>
                <!-- END MENU -->
            </div>
        </div>


        <!-- PAGE CONTENT -->
        <div class="col-md-10">
            <div class="profile-content">

            
			<div class="well">

				<h4><%= @event.name %></h4>
				<p>Posted by: <%= @event.user.name %></p>
				<p>Location name: <%= @event.location.name %></p>
				<p>Event description: <%= @event.description %></p>
				<p>Location address: <%= @event.location.address %></p>
				<p>Estimated number of people from your group: <%= @event.expected %></p>
				<p>Estimated servings of food brought: <%= @event.food_amount %></p>
				<p>Date: <%= @event.date %></p>
				<p>Start time: <%= @event.start_time %></p>
				<p>End time: <%= @event.end_time %></p>
				
				<p>Posted by: <%= @event.user.email %></p>

				<% if current_user.id == @event.user.id %>

				<p><%= link_to "Edit this event", edit_event_path(@event), :class => 'btn btn-primary btn-lg' %>
                   <%= link_to "Delete this event", event_path(@event), :class => 'btn btn-primary btn-lg', method: :delete, data: {confirm: "Are you sure you want to delete this event?"} %></p>

				<% end %>

			</div>

			

              

            

            </div>
        </div>



    </div>
</div>


<div class="container-fluid">
    <div class="footer">
        <strong> © 2018 by <a href="https://www.nextacademy.com">Next Academy</a></strong>
    </div>
</div>