

<div class="card"  onunload="GUnload()">
  <div class="card-block" id="map-container">
  	<div id="map" style="height:500px"></div>
  </div>
</div>



<div class="container-fluid" id="background-all">
    <div class="row profile">
        <!-- PAGE CONTENT -->
        <div class="col-md-10" id="content-background">
            <div class="profile-content">
                <div class="event-form">
                    <div class="row" id="event-form-row">
                        <div class="col-lg-12">
                        	<div class="table-title">
                        		<!-- <h3>Locations</h3> -->
                        	</div>

                        	<table class="table-fill">
                            	<thead>
	                            	<tr>
	                            	<th class="text-left">Top Location</th>
	                            	</tr>
                            	</thead>
                            	<% @locations.each do |loc| %>
                            	<tbody class="table-hover">
	                            	<tr>
		                            	<td class="text-left"><a href="#" id="<%= 'locname' + loc.id.to_s %>"><%= loc.name ? loc.name : "Unnamed Location" %> </a></td>
	                            	</tr>
                            	</tbody>
                    			<script>
                    				$('#<%= 'locname' + loc.id.to_s %>').click(function(e) {
                    		      e.preventDefault();
                    		      map.panTo({lat: <%=loc.latitude %>,lng: <%=loc.longitude %>});
                    		    });
                    			</script>
                    	        <% end %>
                        	</table> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
	window.initMap = function() {
  map = new google.maps.Map(document.getElementById('map'), {
      center: {
        lat: 3.1390,
        lng: 101.6869
      },
      zoom: 17
    });
    <% Location.all.each do |loc| %>
	    var myLatLng = {lat: <%= loc.latitude %>, lng: <%= loc.longitude %>};
      var <%= 'marker' + loc.id.to_s %> = new google.maps.Marker({
        position: myLatLng,
        map: map,
        title: '<%= loc.address %>'
      });
      var <%= 'contentString' + loc.id.to_s %> = '<%= loc.address %>';

        var <%= 'infowindow' + loc.id.to_s %> = new google.maps.InfoWindow({
          content: <%= 'contentString' + loc.id.to_s %>
        });
        <%= 'marker' + loc.id.to_s %>.addListener('click', function() {
            <%= 'infowindow' + loc.id.to_s %>.open(map, <%= 'marker' + loc.id.to_s %>);
          });
    <% end %>
}
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["MAP_KEY"] %>&callback=initMap"
type="text/javascript"></script>