<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--   <%= javascript_include_tag 'application' %> -->
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <div class="col-md-2">
      <div class="profile-sidebar">
          <!-- SIDEBAR USERPIC -->
          <div class="profile-userpic">
              <img src="https://crunchbase-production-res.cloudinary.com/image/upload/c_thumb,h_256,w_256,f_auto,g_faces,z_0.7,q_auto:eco/v1466591235/kqksgid3mofshmeq0yhs.png" class="img-responsive" alt="">
          </div>
          <!-- END SIDEBAR USERPIC -->
          <!-- SIDEBAR USER TITLE -->
          <div class="profile-usertitle">
              <div class="profile-usertitle-name">
  
              </div>
              <div class="profile-usertitle-job">

              </div>
          </div>
          <!-- END SIDEBAR USER TITLE -->
          <!-- SIDEBAR BUTTONS -->
          <% if current_user %>
          <div class="profile-usertitle">
              <div class="profile-usertitle-name">
                <%=current_user.name%>
              </div>
              <div class="profile-usertitle-job">
                <%=current_user.role%>
              </div>
          </div>
          <div class="profile-userbuttons">
              <button type="button" class="btn btn-success btn-sm">Follow</button>
              <button type="button" class="btn btn-danger btn-sm">Message</button>
          </div>
          <!-- END SIDEBAR BUTTONS -->

          <!-- SIDEBAR MENU -->
          
            <div class="container-fluid">
              <div class="row profile">
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li>
                            <a href="#">
                            <i class="glyphicon glyphicon-home"></i>
                            Home </a>
                        </li>
                        <li class="dropdown ">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="glyphicon glyphicon-th-large"></i>
                             Events</a>
                             <ul class="dropdown-menu" id="dropdown">
                                 <li><a href="/events">Browse all events</a></li>
                                 <li><%= link_to "My events", user_events_path(current_user) %>
                                 </li>
                                 <li><a href="/events/new">Create new event</a></li>
                             </ul>
                        </li>
                        <li class="dropdown active">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="glyphicon glyphicon-th-large"></i>
                             Blogs</a>
                             <ul class="dropdown-menu" id="dropdown">
                                 <li><a href="/my_blog">My Blog</a></li>
                                 <li><a href="/following_blog">Following Blog</a></li>
                                 <li><a href="#">Browse Blog</a></li>
                             </ul>
                        </li>
                          <li>
                            <a rel="nofollow" data-method="delete" href="/sign_out"><i class="glyphicon glyphicon-log-out"></i>
                            Logout</a>
                          </li>
                      </ul>
                </div>
              </div>
            </div>
          <% end %>
            <!-- END MENU -->
      </div>
  </div>

</head>
<body>
  <div id="header">
  </div>

  <div id="flash">
    <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%=h value %></div>
    <% end %>
  </div>

  <%= yield %>
</body>
</html>
